<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eveexite.demoarch.calendar_qa_ft">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application>
        <activity android:name=".presentation.configure.ConfigureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CalendarTheme"/>
        <activity android:name=".presentation.add.view.AddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CalendarTheme" />
        <activity android:name=".presentation.finished.FinishedActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.configure.ConfigureActivity"
            android:theme="@style/CalendarTheme" />
    </application>

</manifest>
